.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 5;
}

.header_Title{
    padding: 10px;
    text-align: center;
    font-size: 25px;
    transition: 0.2s;
}

.header a{
    color: #2a52be;
    text-decoration: none;
}

.header_subHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.header_Search{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50px;
    width: 30rem;
    box-shadow: 5px 5px 15px #4a4e69;
}

.header_Search input{
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 15px;
    border: none;
    outline: none;
    flex: 1;
    transition: 0.8s;
    width: 100%;
    color: #8594bd;
}

.header_Search input:focus{
    background-color: #8594bd;
    color: #fff;
}

.MuiSvgIcon-root{
    font-size: 2rem !important;
    color: #000;
    margin: 0 8px;
}

.header_Row{
    background-color: #2a52be;
}

.header_Row a{
    color: #fff;
}

.header_Row .header_Title{
    padding: 0;
}

.header_Row .header_Search{
    box-shadow: 15px 15px 45px #090a0c;
}